In [38]:
import pandas as pd
import numpy as np

In [39]:
data = pd.read_csv('merged.csv')

In [40]:
data.head()

,Unnamed: 0,Column_id,tdate_x,tmane_x,ttext_x,ttype_x
0,0,408906692374446080,1.386326e+09,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1.0
1,1,408906692693221377,1.386326e+09,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1.0
2,2,408906695083954177,1.386326e+09,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1.0
3,3,408906695356973056,1.386326e+09,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1.0
4,4,408906761416867842,1.386326e+09,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\nН...,1.0

# Template of our dataset

In [41]:
temp = data.drop(['Column_id','tdate_x','Unnamed: 0'], axis = 1)

In [42]:
temp.head()

           tmane_x                                            ttext_x  ttype_x
0  pleease_shut_up  @first_timee хоть я и школота, но поверь, у на...      1.0
1  alinakirpicheva  Да, все-таки он немного похож на него. Но мой ...      1.0
2        EvgeshaRe  RT @KatiaCheh: Ну ты идиотка) я испугалась за ...      1.0
3    ikonnikova_21  RT @digger2912: "Кто то в углу сидит и погибае...      1.0
4        JumpyAlex  @irina_dyshkant Вот что значит страшилка :D\nН...      1.0

In [43]:
y = temp['ttype_x']
y.shape

(226834,)

In [44]:
temp.drop('ttype_x', axis = 1, inplace = True)

In [45]:
temp.shape

(226834, 2)

In [46]:
from sklearn.naive_bayes import GaussianNB

In [47]:
model = GaussianNB()

# Convert our words to vectors

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [49]:
messages_bow = vect.fit_transform(temp['ttext_x'])

# TF-IDF

In [50]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf = TfidfTransformer().fit_transform(messages_bow)

# Train model

In [51]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(messages_tfidf,y)

# Test with parsed news

In [52]:
df = pd.read_csv('nur.csv', encoding='utf-8', comment='#', sep = ';')

In [53]:
df.drop('Unnamed: 1', axis = 1, inplace = True)

In [54]:
df.head()

                                           Column_id
0  Лучше уйти на один день раньше: как Назарбаев ...
1  Ильясов раскрыл тайну знаменитого "веселого" ф...
2  10 креативных способов справиться с Bottle Cap...
3  Через 10-20 лет напомнит: Масимов о феноменаль...
4  «В 5 – подъем, в 6 – рабочий день»: о графике ...

# Preparing parsed data

In [67]:
new_messages_bow = vect.fit_transform(df['Column_id'])

In [68]:
tfidf5 = TfidfTransformer().fit_transform(bow5)
print(tfidf5)

  (0, 274402)	0.3172805825522982
  (0, 251632)	0.3172805825522982
  (0, 244940)	0.2594574684591436
  (0, 244312)	0.3172805825522982
  (0, 216000)	0.3172805825522982
  (0, 210436)	0.3172805825522982
  (0, 198935)	0.28345622913288177
  (0, 197876)	0.2594574684591436
  (0, 188924)	0.3172805825522982
  (0, 175234)	0.3172805825522982
  (0, 153976)	0.28345622913288177
  (1, 279938)	0.2872678781994018
  (1, 265910)	0.42836366936396775
  (1, 244512)	0.42836366936396775
  (1, 194714)	0.42836366936396775
  (1, 170140)	0.42836366936396775
  (1, 138389)	0.42836366936396775
  (2, 260798)	0.4565234048602731
  (2, 260748)	0.4565234048602731
  (2, 183040)	0.4565234048602731
  (2, 25667)	0.4565234048602731
  (2, 682)	0.4078547820721643
  (3, 286155)	0.415293603543511
  (3, 217828)	0.415293603543511
  (3, 200216)	0.415293603543511
  :	:
  (26, 237610)	0.38640278052088406
  (26, 207075)	0.38640278052088406
  (26, 202151)	0.3452095120723516
  (26, 199735)	0.38640278052088406
  (26, 194499)	0.38640278052088406
  (26, 124335)	0.2591282007071174
  (27, 245942)	0.5773502691896257
  (27, 241866)	0.5773502691896257
  (27, 161926)	0.5773502691896257
  (28, 237741)	0.447213595499958
  (28, 218253)	0.447213595499958
  (28, 208918)	0.447213595499958
  (28, 208642)	0.447213595499958
  (28, 197984)	0.447213595499958
  (29, 246691)	0.4664399378418825
  (29, 231145)	0.41671414252349454
  (29, 202151)	0.41671414252349454
  (29, 139104)	0.4664399378418825
  (29, 135095)	0.4664399378418825
  (30, 251892)	0.7071067811865476
  (30, 157213)	0.7071067811865476
  (31, 217054)	0.5
  (31, 190555)	0.5
  (31, 169893)	0.5
  (31, 148718)	0.5

In [69]:
df['predicted'] = model.predict(tfidf5)

In [71]:
export_csv = df.to_csv (r'export_dataframe.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path