In [68]:
import pandas as pd
import numpy as np

In [69]:
data = pd.read_csv('merged.csv')

In [70]:
data.head()

,Unnamed: 0,Column_id,tdate_x,tmane_x,ttext_x,ttype_x
0,0,408906692374446080,1.386326e+09,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1.0
1,1,408906692693221377,1.386326e+09,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1.0
2,2,408906695083954177,1.386326e+09,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1.0
3,3,408906695356973056,1.386326e+09,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1.0
4,4,408906761416867842,1.386326e+09,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\nН...,1.0

# Template of our dataset

In [71]:
temp = data.drop(['Column_id','tdate_x','Unnamed: 0'], axis = 1)

In [72]:
temp.head()

           tmane_x                                            ttext_x  ttype_x
0  pleease_shut_up  @first_timee хоть я и школота, но поверь, у на...      1.0
1  alinakirpicheva  Да, все-таки он немного похож на него. Но мой ...      1.0
2        EvgeshaRe  RT @KatiaCheh: Ну ты идиотка) я испугалась за ...      1.0
3    ikonnikova_21  RT @digger2912: "Кто то в углу сидит и погибае...      1.0
4        JumpyAlex  @irina_dyshkant Вот что значит страшилка :D\nН...      1.0

In [73]:
y = temp['ttype_x']
y.shape

(226834,)

In [74]:
temp.drop('ttype_x', axis = 1, inplace = True)

In [75]:
temp.shape

(226834, 2)

In [76]:
from sklearn.naive_bayes import GaussianNB

In [77]:
model = GaussianNB()

# Convert our words to vectors

In [78]:
from sklearn.feature_extraction.text import CountVectorizer

In [79]:
bow_transformer = CountVectorizer().fit(temp['ttext_x'])
print(len(bow_transformer.vocabulary_))

294601

In [80]:
bow4=bow_transformer.fit_transform(temp['ttext_x'])
print(bow4)
print(bow4.shape)

  (0, 39597)	1
  (0, 283280)	1
  (0, 289059)	1
  (0, 206003)	1
  (0, 224163)	1
  (0, 200773)	1
  (0, 268884)	1
  (0, 161647)	1
  (0, 250115)	1
  (0, 209555)	1
  (0, 240005)	1
  (0, 233880)	1
  (0, 268595)	1
  (1, 206003)	1
  (1, 151906)	1
  (1, 143048)	2
  (1, 265963)	1
  (1, 211790)	1
  (1, 203632)	1
  (1, 232571)	1
  (1, 197876)	1
  (1, 202599)	1
  (1, 195286)	1
  (1, 190740)	1
  (1, 242223)	1
  :	:
  (226831, 198665)	1
  (226831, 289066)	1
  (226831, 171257)	1
  (226831, 148993)	1
  (226832, 93089)	1
  (226832, 202151)	1
  (226832, 151113)	1
  (226832, 208695)	1
  (226832, 266741)	1
  (226832, 10239)	1
  (226832, 65171)	1
  (226833, 268884)	1
  (226833, 197876)	2
  (226833, 204815)	1
  (226833, 287281)	1
  (226833, 192973)	2
  (226833, 242167)	1
  (226833, 137772)	1
  (226833, 266039)	1
  (226833, 291949)	1
  (226833, 241938)	1
  (226833, 243239)	1
  (226833, 187833)	1
  (226833, 236364)	1
  (226833, 143724)	1
(226834, 294601)

In [81]:
messages_bow = bow_transformer.fit_transform(temp['ttext_x'])

In [82]:
print('Shape of Sparse Matrix: ',messages_bow.shape)
print('Amount of non-zero occurences:',messages_bow.nnz)

Shape of Sparse Matrix:  (226834, 294601)
Amount of non-zero occurences: 2464632

In [83]:
sparsity =(100.0 * messages_bow.nnz/(messages_bow.shape[0]*messages_bow.shape[1]))
print('sparsity:{}'.format(round(sparsity)))

sparsity:0

# TF-IDF

In [84]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer=TfidfTransformer().fit(messages_bow)
tfidf4 = tfidf_transformer.fit_transform(bow4)
print(tfidf4)

  (0, 289059)	0.3650609049319812
  (0, 283280)	0.19232305041027034
  (0, 268884)	0.11795329947058843
  (0, 268595)	0.24057976745747514
  (0, 250115)	0.21625889590172592
  (0, 240005)	0.4285251910493829
  (0, 233880)	0.30261487687877175
  (0, 224163)	0.30609541167288834
  (0, 209555)	0.30749859585121725
  (0, 206003)	0.12397597507692076
  (0, 200773)	0.16961407054801722
  (0, 161647)	0.14124680276249196
  (0, 39597)	0.4285251910493829
  (1, 265963)	0.28737101162890105
  (1, 242223)	0.2832230050367729
  (1, 232571)	0.3887751175724377
  (1, 211790)	0.2132017151566011
  (1, 206003)	0.1716425315496768
  (1, 203632)	0.3057837650671694
  (1, 202599)	0.2790909456885065
  (1, 197876)	0.1350219583122198
  (1, 195286)	0.24642289167392764
  (1, 190740)	0.36855352753007176
  (1, 188924)	0.2659810063453453
  (1, 151906)	0.1967261654946249
  :	:
  (226831, 198665)	0.33396344708577985
  (226831, 171257)	0.4439128801554268
  (226831, 148993)	0.5257732785989483
  (226831, 142491)	0.2929732507086822
  (226832, 266741)	0.4729769584454576
  (226832, 208695)	0.3906436276613388
  (226832, 202151)	0.08903181453275248
  (226832, 151113)	0.3439760057306174
  (226832, 93089)	0.11140380574195159
  (226832, 65171)	0.5004214020401639
  (226832, 10239)	0.48436743168410384
  (226833, 291949)	0.286876851624919
  (226833, 287281)	0.16588575173877157
  (226833, 268884)	0.10427709021527783
  (226833, 266039)	0.26826804507362456
  (226833, 243239)	0.3580628599755356
  (226833, 242167)	0.19895154033399284
  (226833, 241938)	0.30195700182137125
  (226833, 236364)	0.3788394237985511
  (226833, 204815)	0.13120640105152245
  (226833, 197876)	0.1724351621748206
  (226833, 192973)	0.20287688547510296
  (226833, 187833)	0.3412887989095801
  (226833, 143724)	0.3788394237985511
  (226833, 137772)	0.23821981020889027

In [85]:
messages_tfidf=tfidf_transformer.fit_transform(messages_bow)
print(messages_tfidf.shape)

(226834, 294601)

# Train model

In [86]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(messages_tfidf,y)

In [87]:
print('predicted:',model.predict(tfidf4)[:10])
print('expected:',y[0])

predicted: [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
expected: 1.0

# F1 score

In [88]:
all_predictions = model.predict(messages_tfidf)

In [89]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y,all_predictions))
print(confusion_matrix(y,all_predictions))

              precision    recall  f1-score   support

        -1.0       0.87      0.92      0.89    111923
         1.0       0.92      0.86      0.89    114911

    accuracy                           0.89    226834
   macro avg       0.89      0.89      0.89    226834
weighted avg       0.89      0.89      0.89    226834

[[103032   8891]
 [ 15999  98912]]

# Add new column "predict"

In [91]:
data['predict'] = model.predict(tfidf4)
data.drop(['ttype_x'], axis = 1, inplace = True)

In [93]:
data.head()

,Unnamed: 0,Column_id,tdate_x,tmane_x,ttext_x,predict
0,0,408906692374446080,1.386326e+09,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1.0
1,1,408906692693221377,1.386326e+09,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1.0
2,2,408906695083954177,1.386326e+09,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1.0
3,3,408906695356973056,1.386326e+09,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1.0
4,4,408906761416867842,1.386326e+09,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\nН...,1.0

# Test with parsed news

In [95]:
df = pd.read_csv('nur.csv', encoding='utf-8', comment='#', sep = ';')

In [96]:
df.drop('Unnamed: 1', axis = 1, inplace = True)

In [97]:
df.head()

                                           Column_id
0  Лучше уйти на один день раньше: как Назарбаев ...
1  Ильясов раскрыл тайну знаменитого "веселого" ф...
2  10 креативных способов справиться с Bottle Cap...
3  Через 10-20 лет напомнит: Масимов о феноменаль...
4  «В 5 – подъем, в 6 – рабочий день»: о графике ...

# Preparing parsed data

In [98]:
bow_transformer.transform(df['Column_id'])
print(len(bow_transformer.vocabulary_))

294601

In [99]:
bow5=bow_transformer.transform(df['Column_id'])
print(bow5)
print(bow5.shape)

  (0, 153976)	1
  (0, 175234)	1
  (0, 188924)	1
  (0, 197876)	1
  (0, 198935)	1
  (0, 210436)	1
  (0, 216000)	1
  (0, 244312)	1
  (0, 244940)	1
  (0, 251632)	1
  (0, 274402)	1
  (1, 138389)	1
  (1, 170140)	1
  (1, 194714)	1
  (1, 244512)	1
  (1, 265910)	1
  (1, 279938)	1
  (2, 682)	1
  (2, 25667)	1
  (2, 183040)	1
  (2, 260748)	1
  (2, 260798)	1
  (3, 682)	1
  (3, 2229)	1
  (3, 186974)	1
  :	:
  (24, 277541)	1
  (24, 277751)	1
  (25, 177630)	1
  (25, 294183)	1
  (26, 124335)	1
  (26, 194499)	1
  (26, 199735)	1
  (26, 202151)	1
  (26, 207075)	1
  (26, 237610)	1
  (26, 240272)	1
  (26, 279938)	1
  (27, 161926)	1
  (27, 241866)	1
  (27, 245942)	1
  (28, 197984)	1
  (28, 208642)	1
  (28, 208918)	1
  (28, 218253)	1
  (28, 237741)	1
  (29, 135095)	1
  (29, 139104)	1
  (29, 202151)	1
  (29, 231145)	1
  (29, 246691)	1
(30, 294601)

In [100]:
new_messages_bow = bow_transformer.transform(df['Column_id'])

In [101]:
print('Shape of Sparse Matrix: ',new_messages_bow.shape)
print('Amount of non-zero occurences:',new_messages_bow.nnz)

Shape of Sparse Matrix:  (30, 294601)
Amount of non-zero occurences: 188

In [102]:
tfidf_transformer.fit(new_messages_bow)
tfidf5 = tfidf_transformer.transform(bow5)
print(tfidf5)

  (0, 274402)	0.3175412957204792
  (0, 251632)	0.3175412957204792
  (0, 244940)	0.25870348056872305
  (0, 244312)	0.3175412957204792
  (0, 216000)	0.3175412957204792
  (0, 210436)	0.3175412957204792
  (0, 198935)	0.2831233802323388
  (0, 197876)	0.25870348056872305
  (0, 188924)	0.3175412957204792
  (0, 175234)	0.3175412957204792
  (0, 153976)	0.2831233802323388
  (1, 279938)	0.285102159748531
  (1, 265910)	0.4286529501838809
  (1, 244512)	0.4286529501838809
  (1, 194714)	0.4286529501838809
  (1, 170140)	0.4286529501838809
  (1, 138389)	0.4286529501838809
  (2, 260798)	0.45667477933951844
  (2, 260748)	0.45667477933951844
  (2, 183040)	0.45667477933951844
  (2, 25667)	0.45667477933951844
  (2, 682)	0.4071763544961918
  (3, 286155)	0.4154075476819185
  (3, 217828)	0.4154075476819185
  (3, 200216)	0.4154075476819185
  :	:
  (24, 126232)	0.4744521852882948
  (24, 124335)	0.31556377406262315
  (25, 294183)	0.7071067811865475
  (25, 177630)	0.7071067811865475
  (26, 279938)	0.25734493331446123
  (26, 240272)	0.3869197798340645
  (26, 237610)	0.3869197798340645
  (26, 207075)	0.3869197798340645
  (26, 202151)	0.344982014691413
  (26, 199735)	0.3869197798340645
  (26, 194499)	0.3869197798340645
  (26, 124335)	0.25734493331446123
  (27, 245942)	0.5773502691896257
  (27, 241866)	0.5773502691896257
  (27, 161926)	0.5773502691896257
  (28, 237741)	0.4472135954999579
  (28, 218253)	0.4472135954999579
  (28, 208918)	0.4472135954999579
  (28, 208642)	0.4472135954999579
  (28, 197984)	0.4472135954999579
  (29, 246691)	0.46676302208846976
  (29, 231145)	0.41617114486261303
  (29, 202151)	0.41617114486261303
  (29, 139104)	0.46676302208846976
  (29, 135095)	0.46676302208846976

In [103]:
new_messages_tfidf=tfidf_transformer.transform(new_messages_bow)
print(new_messages_tfidf.shape)

(30, 294601)

In [104]:
df['predicted'] = model.predict(tfidf5)

In [116]:
df.head()

                                           Column_id  predicted
0  Лучше уйти на один день раньше: как Назарбаев ...        1.0
1  Ильясов раскрыл тайну знаменитого "веселого" ф...        1.0
2  10 креативных способов справиться с Bottle Cap...       -1.0
3  Через 10-20 лет напомнит: Масимов о феноменаль...       -1.0
4  «В 5 – подъем, в 6 – рабочий день»: о графике ...       -1.0

In [117]:
export_csv = df.to_csv (r'export_dataframe.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path