In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('merged.csv')

In [3]:
data.head()

,Unnamed: 0,Column_id,tdate_x,tmane_x,ttext_x,ttype_x
0,0,408906692374446080,1.386326e+09,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1.0
1,1,408906692693221377,1.386326e+09,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1.0
2,2,408906695083954177,1.386326e+09,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1.0
3,3,408906695356973056,1.386326e+09,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1.0
4,4,408906761416867842,1.386326e+09,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\nН...,1.0

# Template of our dataset

In [4]:
temp = data.drop(['Column_id','tdate_x','Unnamed: 0'], axis = 1)

In [5]:
temp.head()

           tmane_x                                            ttext_x  ttype_x
0  pleease_shut_up  @first_timee хоть я и школота, но поверь, у на...      1.0
1  alinakirpicheva  Да, все-таки он немного похож на него. Но мой ...      1.0
2        EvgeshaRe  RT @KatiaCheh: Ну ты идиотка) я испугалась за ...      1.0
3    ikonnikova_21  RT @digger2912: "Кто то в углу сидит и погибае...      1.0
4        JumpyAlex  @irina_dyshkant Вот что значит страшилка :D\nН...      1.0

In [6]:
y = temp['ttype_x']
y.shape

(226834,)

In [7]:
temp.drop('ttype_x', axis = 1, inplace = True)

In [8]:
temp.shape

(226834, 2)

# Convert our words to vectors

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [10]:
messages_bow = vect.fit_transform(temp['ttext_x'])

# TF-IDF

In [11]:
from sklearn.feature_extraction.text import TfidfTransformer

tfidf = TfidfTransformer().fit_transform(messages_bow)

# Train model

In [12]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [13]:
%time model.fit(tfidf,y)

CPU times: user 108 ms, sys: 0 ns, total: 108 ms
Wall time: 112 ms

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

# Test with parsed news

In [14]:
df = pd.read_csv('nur.csv', encoding='utf-8', comment='#', sep = ';')

In [15]:
df.drop('Unnamed: 1', axis = 1, inplace = True)

In [16]:
df.head()

                                           Column_id
0  Лучше уйти на один день раньше: как Назарбаев ...
1  Ильясов раскрыл тайну знаменитого "веселого" ф...
2  10 креативных способов справиться с Bottle Cap...
3  Через 10-20 лет напомнит: Масимов о феноменаль...
4  «В 5 – подъем, в 6 – рабочий день»: о графике ...

In [17]:

new_messages_bow = vect.fit_transform(df['Column_id'])

In [18]:
tfidf5 = TfidfTransformer().fit_transform(new_messages_bow)
print(tfidf5)

  (0, 201)	0.302423494736381
  (0, 175)	0.302423494736381
  (0, 168)	0.24730802533096963
  (0, 166)	0.302423494736381
  (0, 130)	0.302423494736381
  (0, 125)	0.302423494736381
  (0, 105)	0.2701830119245712
  (0, 103)	0.24730802533096963
  (0, 93)	0.302423494736381
  (0, 88)	0.302423494736381
  (0, 69)	0.302423494736381
  (0, 39)	0.2701830119245712
  (1, 206)	0.23536285082713565
  (1, 194)	0.35096473383735927
  (1, 167)	0.35096473383735927
  (1, 106)	0.28700281822279067
  (1, 100)	0.35096473383735927
  (1, 65)	0.35096473383735927
  (1, 61)	0.35096473383735927
  (1, 25)	0.35096473383735927
  (1, 23)	0.35096473383735927
  (2, 187)	0.3835346438312505
  (2, 186)	0.3835346438312505
  (2, 78)	0.3835346438312505
  (2, 6)	0.3835346438312505
  :	:
  (27, 195)	0.4078547820721643
  (27, 171)	0.4565234048602731
  (27, 160)	0.4565234048602731
  (27, 120)	0.4565234048602731
  (27, 54)	0.4565234048602731
  (28, 155)	0.408248290463863
  (28, 134)	0.408248290463863
  (28, 123)	0.408248290463863
  (28, 122)	0.408248290463863
  (28, 104)	0.408248290463863
  (28, 9)	0.408248290463863
  (29, 207)	0.36774517225932374
  (29, 172)	0.36774517225932374
  (29, 165)	0.36774517225932374
  (29, 150)	0.3285409367693274
  (29, 112)	0.3285409367693274
  (29, 27)	0.36774517225932374
  (29, 22)	0.36774517225932374
  (29, 16)	0.3285409367693274
  (30, 176)	0.7071067811865476
  (30, 42)	0.7071067811865476
  (31, 131)	0.5
  (31, 91)	0.5
  (31, 60)	0.5
  (31, 33)	0.5

In [19]:
df['predicted'] = model.predict(tfidf5)

ValueError: dimension mismatch

In [ ]:
df.head()

In [ ]:
export_csv = df.to_csv (r'export_dataframe.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path