In [38]:
import pandas as pd
import numpy as np

In [39]:
data = pd.read_csv('merged.csv')

In [40]:
data.head()

,Unnamed: 0,Column_id,tdate_x,tmane_x,ttext_x,ttype_x
0,0,408906692374446080,1.386326e+09,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1.0
1,1,408906692693221377,1.386326e+09,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1.0
2,2,408906695083954177,1.386326e+09,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1.0
3,3,408906695356973056,1.386326e+09,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1.0
4,4,408906761416867842,1.386326e+09,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\nН...,1.0

# Template of our dataset

In [41]:
temp = data.drop(['Column_id','tdate_x','Unnamed: 0'], axis = 1)

In [42]:
temp.head()

           tmane_x                                            ttext_x  ttype_x
0  pleease_shut_up  @first_timee хоть я и школота, но поверь, у на...      1.0
1  alinakirpicheva  Да, все-таки он немного похож на него. Но мой ...      1.0
2        EvgeshaRe  RT @KatiaCheh: Ну ты идиотка) я испугалась за ...      1.0
3    ikonnikova_21  RT @digger2912: "Кто то в углу сидит и погибае...      1.0
4        JumpyAlex  @irina_dyshkant Вот что значит страшилка :D\nН...      1.0

In [43]:
y = temp['ttype_x']
y.shape

(226834,)

In [44]:
temp.drop('ttype_x', axis = 1, inplace = True)

In [45]:
temp.shape

(226834, 2)

In [46]:
from sklearn.naive_bayes import GaussianNB

In [47]:
model = GaussianNB()

# Convert our words to vectors

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [49]:
messages_bow = vect.fit_transform(temp['ttext_x'])

# TF-IDF

In [50]:
from sklearn.feature_extraction.text import TfidfTransformer

tfidf = TfidfTransformer().fit_transform(messages_bow)

# Train model

In [51]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(messages_tfidf,y)

# Test with parsed news

In [52]:
df = pd.read_csv('nur.csv', encoding='utf-8', comment='#', sep = ';')

In [53]:
df.drop('Unnamed: 1', axis = 1, inplace = True)

In [54]:
df.head()

                                           Column_id
0  Лучше уйти на один день раньше: как Назарбаев ...
1  Ильясов раскрыл тайну знаменитого "веселого" ф...
2  10 креативных способов справиться с Bottle Cap...
3  Через 10-20 лет напомнит: Масимов о феноменаль...
4  «В 5 – подъем, в 6 – рабочий день»: о графике ...

# Preparing parsed data

In [55]:
bow_transformer.transform(df['Column_id'])
print(len(bow_transformer.vocabulary_))

294601

In [56]:
bow5=bow_transformer.transform(df['Column_id'])
print(bow5)
print(bow5.shape)

  (0, 153976)	1
  (0, 175234)	1
  (0, 188924)	1
  (0, 197876)	1
  (0, 198935)	1
  (0, 210436)	1
  (0, 216000)	1
  (0, 244312)	1
  (0, 244940)	1
  (0, 251632)	1
  (0, 274402)	1
  (1, 138389)	1
  (1, 170140)	1
  (1, 194714)	1
  (1, 244512)	1
  (1, 265910)	1
  (1, 279938)	1
  (2, 682)	1
  (2, 25667)	1
  (2, 183040)	1
  (2, 260748)	1
  (2, 260798)	1
  (3, 682)	1
  (3, 2229)	1
  (3, 186974)	1
  :	:
  (26, 199735)	1
  (26, 202151)	1
  (26, 207075)	1
  (26, 237610)	1
  (26, 240272)	1
  (26, 279938)	1
  (27, 161926)	1
  (27, 241866)	1
  (27, 245942)	1
  (28, 197984)	1
  (28, 208642)	1
  (28, 208918)	1
  (28, 218253)	1
  (28, 237741)	1
  (29, 135095)	1
  (29, 139104)	1
  (29, 202151)	1
  (29, 231145)	1
  (29, 246691)	1
  (30, 157213)	1
  (30, 251892)	1
  (31, 148718)	1
  (31, 169893)	1
  (31, 190555)	1
  (31, 217054)	1
(32, 294601)

In [57]:
new_messages_bow = bow_transformer.transform(df['Column_id'])

In [58]:
print('Shape of Sparse Matrix: ',new_messages_bow.shape)
print('Amount of non-zero occurences:',new_messages_bow.nnz)

Shape of Sparse Matrix:  (32, 294601)
Amount of non-zero occurences: 194

In [59]:
tfidf_transformer.fit(new_messages_bow)
tfidf5 = tfidf_transformer.transform(bow5)
print(tfidf5)

  (0, 274402)	0.3172805825522982
  (0, 251632)	0.3172805825522982
  (0, 244940)	0.2594574684591436
  (0, 244312)	0.3172805825522982
  (0, 216000)	0.3172805825522982
  (0, 210436)	0.3172805825522982
  (0, 198935)	0.28345622913288177
  (0, 197876)	0.2594574684591436
  (0, 188924)	0.3172805825522982
  (0, 175234)	0.3172805825522982
  (0, 153976)	0.28345622913288177
  (1, 279938)	0.2872678781994018
  (1, 265910)	0.42836366936396775
  (1, 244512)	0.42836366936396775
  (1, 194714)	0.42836366936396775
  (1, 170140)	0.42836366936396775
  (1, 138389)	0.42836366936396775
  (2, 260798)	0.4565234048602731
  (2, 260748)	0.4565234048602731
  (2, 183040)	0.4565234048602731
  (2, 25667)	0.4565234048602731
  (2, 682)	0.4078547820721643
  (3, 286155)	0.415293603543511
  (3, 217828)	0.415293603543511
  (3, 200216)	0.415293603543511
  :	:
  (26, 237610)	0.38640278052088406
  (26, 207075)	0.38640278052088406
  (26, 202151)	0.3452095120723516
  (26, 199735)	0.38640278052088406
  (26, 194499)	0.38640278052088406
  (26, 124335)	0.2591282007071174
  (27, 245942)	0.5773502691896257
  (27, 241866)	0.5773502691896257
  (27, 161926)	0.5773502691896257
  (28, 237741)	0.447213595499958
  (28, 218253)	0.447213595499958
  (28, 208918)	0.447213595499958
  (28, 208642)	0.447213595499958
  (28, 197984)	0.447213595499958
  (29, 246691)	0.4664399378418825
  (29, 231145)	0.41671414252349454
  (29, 202151)	0.41671414252349454
  (29, 139104)	0.4664399378418825
  (29, 135095)	0.4664399378418825
  (30, 251892)	0.7071067811865476
  (30, 157213)	0.7071067811865476
  (31, 217054)	0.5
  (31, 190555)	0.5
  (31, 169893)	0.5
  (31, 148718)	0.5

In [60]:
df['predicted'] = model.predict(tfidf5)

In [61]:
df

                                            Column_id  predicted
0   Лучше уйти на один день раньше: как Назарбаев ...        1.0
1   Ильясов раскрыл тайну знаменитого "веселого" ф...        1.0
2   10 креативных способов справиться с Bottle Cap...       -1.0
3   Через 10-20 лет напомнит: Масимов о феноменаль...       -1.0
4   «В 5 – подъем, в 6 – рабочий день»: о графике ...       -1.0
5   Вкусно и недорого: ярмарка сельхозпродукции от...        1.0
6   О погибшем в ДТП студенте рассказали в медунив...        1.0
7   Погибший после ДТП студент работал курьером в ...        1.0
8   Изъяты дымовые шашки и травматы: попытки незак...       -1.0
9   Невиданная жара на Аляске: леса горят, птицы г...       -1.0
10        Три села переименуют в Павлодарской области       -1.0
11  «Позорила семью»: брат нашел интимное видео в ...       -1.0
12  Сагинтаев рассказал о развитии дорожной инфрас...        1.0
13  Видео с огромным вараном в степи пересылают др...        1.0
14  Фото 16-летней Анджелины Джоли в нижнем белье ...        1.0
15  Токаев посмотрел бои в новом Дворце единоборст...        1.0
16  «Мои сверстники страдают»: школьник отдал день...       -1.0
17          Умный город хотят сделать из Арыси (фото)       -1.0
18  Плейлист Елбасы: какие песни любит и слушает Н...        1.0
19  Когда спишут штрафы и пени по кредитам казахст...       -1.0
20  Дочь Гульнары Каримовой рассказала о судьбе ми...        1.0
21  230 семей в Талдыкоргане получили ключи от ква...       -1.0
22  Путин, Пашинян, Эрдоган: кто еще звонил Назарб...       -1.0
23    Взрыв прогремел в воинской части в Азербайджане       -1.0
24  Замакима Алматы Арман Кырыкбаев ушел в учебный...       -1.0
25  Қалыңдығына ашуланған қызылордалық күйеу жігіт...        1.0
26  Нам не нужны провокаторы: мирный митинг прошел...        1.0
27  Женщина обворовала пятилетнего ребенка в Талды...        1.0
28  Программа обновления автобусного парка набирае...        1.0
29  Разрушенные после взрывов хозпостройки в Арыси...       -1.0
30                                         Дом сгорел       -1.0
31                         Малика очень глупая и злая       -1.0

# Save trained model

In [62]:
import numpy as np
from flask import Flask, request, jsonify
import pickle

In [63]:
pickle.dump(spam_detect_model, open('model.pkl','wb'))

NameError: name 'spam_detect_model' is not defined

In [ ]:
app = Flask(__name__)
model = pickle.load(open('model.pkl','rb'))

In [ ]:
@app.route('/api',methods=['POST'])
def predict():
    data = request.get_json(force=True)
    prediction = model.predict([[np.array(data['exp'])]])
    output = prediction[0]
    return jsonify(output)

In [ ]:
if __name__ == '__main__':
    app.run(port=5000, debug=True)

In [ ]:
import requests
url = 'http://localhost:5000/api'
r = requests.post(url,json={'exp':1.8,})
print(r.json())